*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    width: 100w;
    height: 100vh;
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #1f1e1f;
}
.content{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: fixed;
    padding-left: 30rem;

}
.logo{
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logo h3{
    color: rgb(10, 8, 4);
    font-size: 16px;
    }

    .logo img{
        width: 100%;
        height: 100%;
    }

    .content .list-menu {
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .content .list-menu :hover{
      scale: 150%;
    }
    .content .list-menu li a{
        padding: 3rem 1rem 2rem 1rem;
        color: beige;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        transition: all 200ms ease-in;
        

    }
    .content .list-menu li a:hover{
        background-color: #3333;
        border-bottom: 4px solid yellow;
        color: yellow;
    }






.first-section{
    height: 100vh;
    background-image:linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)), url(imagens/fundonew.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section .conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-section h1 {
    color: rgb(204, 207, 1);
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 5rem;

}
.first-section h2 {
    color: rgb(245, 243, 239);
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;

    }
    .btn button {
        width: 230px;
        height: 60px;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #ffae00;
        border-radius: 10px;
        color: black;
        font-weight: 700;
        margin-top: 5rem;
        transition: all 400ms ease-in;
    }
      .btn button:hover{
        border:1px solid yellow;
        background-color: transparent;
        color: yellow;
        }
        

      
      .btn {
        width: 480px;
        display: flex;
        justify-content: space-between;
    }

      /*Sobre nós*/
      .sobre-nos{
        background-color: rgba(255, 254, 254, 0.884);
        width: 100%;
        padding-bottom: 5rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

      }
      .sobre-nos img{
        width: 400px;
        height: 400px;
        margin-top: 10rem;
        margin-left: 10rem;
        border: 2px solid rgb(247, 242, 242);

      }
      .main{
        display: flex;
        justify-content: space-between;

      }
      .contentsobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }
      .contentsobre h2 {
        font-size: 6rem;
        margin-bottom: 1rem;
        color: #fcfcfc;
        

      }
      .contentsobre p{
        text-align: center;
        font-size: 1.8rem;
        width: 600px;
        color: #fcfcfc;
      }
      /*Cardapio*/

      .cardapio{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(27, 26, 26, 0.884);
      }
      .cardapio h2 {
        font-size: 5rem;
        color: rgb(243, 241, 235);
        text-transform: uppercase;
      }
       .itens-cardapio {
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px, 350px));
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
      .itens-cardapio .info{
        background-color: rgb(7, 7, 7);
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
      }
      .itens-cardapio .info h3{
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-decoration: underline;
      }
      .itens-cardapio .info h4{
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 0.6rem;
        display:flex;
        justify-content:space-between;
        align-items: center;
        grid-template-columns: 150px 150px;
        margin-left: 6rem;

      }
      .itens-cardapio.info h4 span {
        font-size: 1.6rem;
        color: #fcfcfc;
        margin-left: 1.5rem;
        text-decoration: underline;
        display: flex;
        justify-content:space-between;
        align-items: center;
        



        
    
        
      }
      .itens-cardapio div{
        background-color: #504a4a;
        box-shadow: 0px 0px 4px 1px;
      }

    
        .itens-cardapio img{
          width: 100%;
          height: 200px;
          display: block;
        }       
        
        
    
        
        /*Contatos*/

        .contatos{
          width: 100%;
          background-color: #1f1e1f;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          color: white;
          padding-bottom: 4rem;
        }
        .contatos h3 {
          font-size: 6rem;
          margin-bottom: 3rem;

        }
        .contatos-secao{
          width: 650px;
          display: flex;
          justify-content: space-between;
          font-size: 2rem;

        }
        .contatos-secao i{
          margin-right: 1rem;
        }
        .contatos-secao div {
          cursor: pointer;
          transition: all 200ms ease-in;
        }
        .contatos-secao div:hover {
          color: #ce9f06;
          scale: 250%;

        }
        footer{
          height: 25px;
          background-color: black;
          color: white;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @media(max-width: 1200px) {
          .main{
            display: block;

          }
          .content{
            flex-direction:  column;
            justify-content: center;
            align-items: center;
            height: 12%;
            padding-left: 0px;

          }
          .sobre-nos img {
            width: 600px;
            margin-left: -2px;
          }
          
        }

        @media (max-width:992px) {
          html{
            font-size: 50%;
          }
        }

        @media(max-width:768px)  {
          html{
            font-size: 45%;
          }
          .content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 40px;
          }
          .content .list-menu {
            display: none;
          }

          .one,
          .two,
          .three{
            width: 80%;
            height: 2px;
            background-color: white;
            margin: 6px auto;
            transition-duration: 0.5s;
          }
          .menu-toggle{
            width: 30px;
            height: 30px;
            
          }
          .sobre-nos img{
            height: 50%;
            width: 50%;
          }





          .content.on{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(30, 31, 30, 0.8);
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .content.on .logo{
            display: none;
          }

          .content.on .menu-toggle{
            position: absolute;
            right: 40px;
            top: 20px;
          }

          .content.on .list-menu {
            display: block;

          }
          .content.on .list-menu li{
            display: flex;
            justify-content: center;
           }
           .content.on .list-menu li a{
            font-size: 2rem;
           }
           .content.on .menu-toggle .two{
            opacity: 0;
           }
           .content.on .menu-toggle .one {
            transform: rotate(45deg) translate(5px,-8px);
           }

            .content.on .menu-toggle .three {
              transform: rotate(-45deg) translate(20px,-6px);
            }











          .itens-cardapio {
            grid-template-columns: repeat(2,minmax(50px,350px));
          }
          .itens-cardapio .info h4 {
            margin-left: 12rem;
          }
          .contatos-secao {
            display: block;
            text-align: center;
            font-size: 2rem;

          }
          .contatos-secao div {
            margin: 1rem;
          }
        }

        @media(max-width:600px){
          .conteudo-principal h1{
            width:100%;
            text-align: center;
            font-size: 4rem;
          }
          .conteudo-principal h2 {
            font-size: 2rem;
          }

          .itens-cardapio{
           grid-template-columns: 1fr;
          }
          .sobre-nos img {
            width: 200px;
            height: 150px;
            margin-left: 10px;

          }
          .sobre-nos p{
            text-align: center;
            width: 400px;
          }
          
        }
        


        @media (max-width: 500px) {

    header .list-menu {
        display: none; /* Esconde o menu desktop */
    }

    .menu-toggle {
        display: block; /* Mostra o botão hambúrguer */
    }

    .itens-cardapio {
        grid-template-columns: 1fr !important; /* Apenas 1 pizza por linha */
        padding: 10px;
    }

    .pizza {
        width: 100%;
        margin: 0 auto;
    }
    .btn button {
      font-size: 1.5rem;
      width: 250px;

    }
    .btn {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .itens-cardapio {
        grid-template-columns: 1fr; /* Apenas 1 card por linha */
    }

    .pizza img {
        height: 220px; /* Ajuste opcional */
    }
    .itens-cardapio img {
      
    }





}
@media(max-width: 395px) {
  .sobre-nos img{
    width: 250px;
    height: auto;
    margin-left: 10px;
  }
  .contentsobre p{
    text-align: center;
    width: 250px;
  }
  .itens-cardapio {
    width: 50%;
    justify-content: center;
    grid-template-columns:repeat(auto-fit,minmax(50px, 350px)) ;
  }






  





  



}























        
        .cardapio .itens-cardapio h4 {
          font-size: 15px;
          align-items: center;
          justify-content: space-between;
          display: flex;
          margin-left: 220px;
          margin-right: 220px;
          
          
          
      }
      .cardapio .itens-cardapio h3{
        font-size:18px ;
        color:white;
        }
         .cardapio .itens-cardapio .pedir {
           width: 200px;
          height: 35px;
          margin-top: 0.5rem;
          background-color: #e6b208;
          border-radius: 5px;
          text-transform: uppercase;
          cursor: pointer;
          color: black;
          transition: all 200ms ease-in;
          

         }
         .cardapio .itens-cardapio .pedir: :hover{
           background-color: #5e5252;
         }


          .itens-cardapio {
            grid-template-columns: repeat(2,minmax(50px, 350px));

          }
          .itens-cardapio .info h4 {
            margin-left: 12rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .contatos-secao {
            display: block;
            text-align: center;
            font-size: 2rem;

          }
          .contatos-secao div {
            margin: 1rem;
          }






            
